 <div class="form-group row">
      <%= f.label :name, class:"col-sm-2 col-form-label" %><br />
        <div class="col-sm-8">
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
      <%= f.label :email, class:"col-sm-2 col-form-label" %><br />
        <div class="col-sm-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
      <%= f.label :website, class:"col-sm-2 col-form-label" %><br />
        <div class="col-sm-8">
          <%= f.url_field :website, autofocus: true, class: "form-control" %>
        </div>
    </div>

    <div class="form-group row">
      <%= f.label :address, class:"col-sm-2 col-form-label" %><br />
        <div class="col-sm-7 ab">
          <%= f.fields_for :addresses do |builder| %>
            <%= render 'address_fields' , f: builder %>
              <% end %>
        </div>
        <div class="col-sm-3 add">
          <%= link_to_add_association 'Add', f, :addresses, class:'btn btn-primary add' %>
        </div>
    </div>
    <div class="actions">
      <%= f.submit @company.new_record? ? "Add" : "Update" ,class:"btn btn-primary btn-sm" %><br />
    </div>