<div class="container">
<h1 class="text-center">Companies</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Website</th>
      <th scope="col" colspan=5 class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.email %></td>
        <td><%= c.website %></td>
        <td><%= link_to 'Show',superadmin_company_path(c), class:'btn btn-outline-primary btn-sm' %></td>
        <td><%= link_to 'Edit',edit_superadmin_company_path(c), class:'btn btn-outline-secondary btn-sm' %></td>
        <td><%= link_to 'Destroy',superadmin_company_path(c), method: :delete, data: { confirm: 'Are you sure?'}, class:'btn btn-outline-danger btn-sm' %></td>
        <td><%= link_to 'Add department',new_superadmin_company_department_path(c), class:'btn btn-outline-info btn-sm', style: 'font-size:smaller' %></td>
        <td><%= link_to 'Show department',superadmin_company_departments_path(c), class:'btn btn-outline-dark btn-sm', style: 'font-size:smaller' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<%= link_to 'Back to users' , superadmin_users_path %>
</div>
</div>