<div class="container">
<h1 class="text-center">Companies</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Website</th>
      <th scope="col" colspan=5 class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.name %></td>
        <td><%= company.email %></td>
        <td><%= company.website %></td>
        <!--below rails decorator is used -->
        <td><%= company.show_link %></td>
        <td><%= company.edit_link %></td>
        <td><%= company.delete_link %></td>
        <td><%= company.add_department %></td>
        <td><%= company.show_department %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<%= link_to 'Back to users' , superadmin_users_path %>
</div>
</div>