<div class="container">
<h1>show page</h1>
<p><b>Name:</b><%= @company.name %></p>
<p><b>Email:</b><%= @company.email%></p>
<p><b>Website:</b><%= @company.website%></p>
<p><b>Addresses:</b><% @company.addresses.each do |a| %><%= a.address %>,<% end %></p>
<%= link_to 'Back', superadmin_companies_path%>
</div> 