<%= form_for([:superadmin, @user]) do |f| %>
<div class="form-group row">
    <%= f.label :name,  class:"col-sm-2 col-form-label" %><br />
    <div class="col-sm-8">
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
  </div>

   <div class="form-group row">
    <%= f.label :email, class:"col-sm-2 col-form-label" %><br />
    <div class="col-sm-8">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :phone, class:"col-sm-2 col-form-label" %><br />
    <div class="col-sm-8">
    <%= f.text_field :phone, autofocus: true,class: "form-control" %>
    </div>
  </div>

  <fieldset class="form-group">
  <div class="row">
    <%= f.label :Gender,class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
    <%= f.radio_button(:gender, "male") %>
    <%= label(:gender, "Male") %>
    <%= f.radio_button(:gender, "female")%>
    <%= label(:gender, "Female") %>
    </div>
  </div>
  </fieldset>

  <div class="form-group row">
    <%= f.label :state_id, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
    <%= f.collection_select(:state_id, State.includes(:cities).all, :id, :name, {prompt: "Select a State"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :city_id,class:"col-sm-2 col-form-label" %>
     <div class="col-sm-8">
    <%= f.grouped_collection_select(:city_id, State.all,:cities,:name,:id, :name, {prompt: "Select a City"}) %>
     </div>
  </div>

  <div class="form-group row">
    <%= f.label :company_id, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
    <%= f.collection_select(:company_id, Company.all, :id, :name, {prompt: "Select a Company"}) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :department_id, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
    <%= f.collection_select(:department_id, Department.all, :id, :name, {prompt: "Select a Department"}) %>
    </div>
  </div>


  <div class="form-group row">
      <%= f.label :accountdetails, class:"col-sm-2 col-form-label" %><br />
        <div class="col-sm-7 ab">
          <%= f.fields_for :accountdetails do |builder| %>
            <%= render 'accountdetail_fields' , f: builder %>
          <% end %>
        </div>
        <div class="col-sm-3 add">
          <%= link_to_add_association 'Add', f, :accountdetails, class:'btn btn-primary add' %>
        </div>
    </div>

  <div class="actions">
    <%= f.submit "Update", class:"btn btn-info btn-sm" %>
  </div>
<% end %>