<p id="notice"><%= notice %></p>
<%= flash_messages %>
<h1 class="text-center">Userdetails</h1>
<div class="float-right">
  <%= link_to 'Add Company',new_superadmin_company_path%>
  <%= link_to 'Show companies',superadmin_companies_path %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Gender</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col" colspan=5>Action</th>
    </tr>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.gender %></td>
        <td><%= user.state&.name %></td>
        <td><%= user.city&.name %></td>
        <td><%= link_to 'show', superadmin_user_path(user)%></td>
        <td><%= link_to 'Edit', edit_superadmin_user_path(user)%></td>
        <td><%= link_to 'Destroy', superadmin_user_path(user), method: :delete, data: { confirm: 'Are you sure?'} %></td>
        <td><%= link_to 'Add details', new_accountdetail_path(user_id: user) %></td>      
        <td><%= link_to 'Show details', accountdetails_path(user_id:user) %></td>      
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<%= link_to 'New', new_superadmin_user_path %>
<%= link_to 'Add my details', new_accountdetail_path(user_id:current_user.id) %>
<%= link_to 'View my details', accountdetails_path(user_id:current_user.id) %>
</div>